$red: #d9534f;
$white: #f9f9f9;
$teal: #5bc0de;
$green:#5cb85c;
$blue:#428bca;

.sidebar-wrapper {
    min-width: 20rem;
    padding-right: 3rem;
    padding-left: 2rem;
    background-color: black;
    overflow-y: scroll;

    h5 {
        padding-top: 1rem;
        color: white;
        font-weight: bold;
    }
    a {
        padding: 0;
        color: white;
    }
    .nav-link {
        font-weight: bold;
    }
    .collapse, .collapsing {
        padding-left: 1rem;
    }
}